* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    background: black;
    color: white;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
}

header {
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 28px 11%;
    border-bottom: 1px solid transparent;
    transition: all ease .50s;
    background: transparent;
}

section {
    padding: 120px 19% 100px;
}

/* Navigation Section */

.headerNav {
    display: flex;
}

.headerNav a {
    color: white;
    font-weight: 600;
    margin: 0 40px;
    transition: all ease .40s;
    font-size: 1.2rem;
}

.headerNav a:hover {
    color: #878787;
}

header.sticky {
    padding: 15px 11%;
    background: #0f0f0f;
    border-bottom: 1px solid #878787;
}

@media only screen and (max-width:1600px) {
    header {
        padding: 14px 4%;
    }

    header.sticky {
        padding: 8px 4%;
    }

    section {
        padding: 100px 5% 80px;
    }
}

@media only screen and (max-width:1200px) {
    .home {
        min-height: 90vh;
    }

    .headerNav a {
        margin: 0 20px;
        font-size: 1rem;
    }
}

#menuIcon {
    z-index: 3;
    font-size: 42px;
    display: none;
}

@media only screen and (max-width:870px) {
    #menuIcon {
        display: block;
    }

    .headerNav {
        position: absolute;
        display: flex;
        top: -700px;
        right: 0;
        left: 0;
        padding: 20px 0;
        text-align: left;
        flex-direction: column;
        transition: all ease .50s;
        background: #0f0f0f;
    }

    .headerNav a {
        display: block;
        font-size: 22px;
        padding: 12px 0;
    }

    .headerNav.open {
        top: 100%;
    }
}

/* Home Section */

.home {
    width: 100%;
    min-height: 100vh;
    display: flex;
    position: relative;
}

.homeContent {
    z-index: 1;
    text-align: center;
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.homeContent .myName {
    font-size: 35px;
    display: block;
    line-height: 1;
}

@media only screen and (min-width:550px) {
    .homeContent .myName {
        font-size: 90px;
    }
}

.homeContent .myDescription {
    font-size: 15px;
    display: block;
    line-height: 1;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media only screen and (min-width:550px) {
    .home .myDescription {
        font-size: 35px;
    }
}

.homeIcons {
    display: flex;
    justify-content: center;
    text-align: center;
}

.homeIcons .bx {
    color: white;
    text-align: center;
}

.homeIcons .bx {
    height: 32px;
    padding: 3px;
    border-radius: 50%;
    border: 2px solid white;
    transition: all .7s;
    width: 32px;
    font-size: 22px;
    margin: 5px;
}

.homeIcons .bx:active,
.homeIcons .bx:hover {
    color: black;
    background: white;
}

@media only screen and (min-width:550px) {
    .homeIcons .bx {
        width: 48px;
        height: 48px;
        font-size: 32px;
        padding: 5px;
    }
}

/* Home Background Section */

.rain {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 250px;
    height: 100%;
}

.drop {
    width: 2px;
    height: fit-content;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 50px solid white;
    border-radius: 2mm;
    position: absolute;
    top: calc(100% - 150px);
    left: 50%;
    animation: fall 2.2s ease-in 1s infinite backwards;
}

@keyframes fall {
    0% {
        transform: translateY(-150vh);
    }

    45% {
        transform: translateY(0%);
        opacity: 0;
    }

    46% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.ripples {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}

.ripple {
    display: block;
    width: 100%;
    height: 80px;
    border-radius: 50%;
    border: 1.5mm solid white;
    position: absolute;
    animation: spread 2.2s ease-out 1s infinite;
}

.ripple:nth-child(2) {
    animation-delay: 1.4s;
}

@keyframes spread {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    40% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.splash {
    position: absolute;
    bottom: 60px;
    left: 50%;
    width: 50px;
    height: 50px;
    transform: translate(-50%, 0);
    border-radius: 8px;
    clip-path: polygon(7% 100%,
            5% 95%,
            3% 80%,
            11% 50%,
            17% 38%,
            23% 44%,
            30% 53%,
            37% 28%,
            40% 29%,
            45% 43%,
            51% 53%,
            59% 36%,
            64% 22%,
            67% 23%,
            70% 34%,
            72% 46%,
            79% 37%,
            83% 37%,
            93% 61%,
            96% 76%,
            96% 94%,
            94% 100%);
    background: white;
    transform-origin: bottom;
    animation: waterSplash 2.2s ease-out 1s infinite backwards;
}

@keyframes waterSplash {
    0% {
        transform: translate(-50%, 0) scale(0.3, 0);
    }

    49% {
        transform: translate(-50%, 0) scale(0.3, 0);
    }

    50% {
        transform: translate(-50%, 0) scale(0.3, 0.3);
    }

    60% {
        transform: translate(-50%, 0) scale(0.7, 1);
    }

    90% {
        transform: translate(-50%, 0) scale(1, 0);
    }

    100% {
        transform: translate(-50%, 0) scale(1, 0);
    }
}

.bubbles {
    width: 100%;
}

.bubble {
    display: block;
    position: absolute;
    border-radius: 50%;
    background: white;
}

.bubble:nth-child(1) {
    width: 7px;
    height: 7px;
    bottom: 30px;
    left: 45%;
    animation: jumpLeft 2.2s ease-out 1.2s infinite;
}

.bubble:nth-child(2) {
    width: 5px;
    height: 5px;
    bottom: 100px;
    left: 40%;
    animation: jumpLeft 2.2s ease-out 1s infinite;
}

.bubble:nth-child(3) {
    width: 6px;
    height: 6px;
    bottom: 110px;
    right: 50%;
    animation: jumpRight 2.2s ease-out 1.1s infinite;
}

.bubble:nth-child(4) {
    width: 7px;
    height: 7px;
    bottom: 70px;
    right: 35%;
    animation: jumpRight 2.2s ease-out 1s infinite;
}

@keyframes jumpLeft {

    0%,
    45% {
        transform: translate(0, 0) scale(0);
    }

    60% {
        transform: translate(-50px, -90px) scale(1);
    }

    100% {
        transform: translate(-60px, 0px) scale(0.1);
    }
}

@keyframes jumpRight {

    0%,
    45% {
        transform: translate(0, 0) scale(0);
    }

    60% {
        transform: translate(30px, -80px) scale(1);
    }

    100% {
        transform: translate(50px, 0px) scale(0.1);
    }
}

/* About Section */

.aboutTitle {
    font-size: 2.2rem;
}

@media only screen and (min-width:550px) {
    .aboutTitle {
        font-size: 3rem;
    }
}

.aboutMe {
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    margin: 2.5rem;
    gap: 4rem;
}

@media only screen and (min-width:550px) {
    .aboutMe {
        display: grid;
        gap: 4rem;
        font-size: 1.2rem;
    }
}

.aboutImage {
    margin-bottom: 2rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    border-radius:50%;
}

.aboutTech {
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
}

@media only screen and (min-width:800px) {
    .aboutTech {
        font-size: 1.2rem;
        flex-direction: row;
        flex-wrap: nowrap;
    }
}

@media only screen and (min-width:1100px) {
    .aboutTech {
        gap: 2rem;
    }
}

.aboutTech p {
    font-size: 1.2rem;
    margin-top: 10px;
    margin-inline: 20px;
    margin-bottom: 20px;
}

@media only screen and (min-width:1000px) {
    .aboutTech p {
        margin-inline: 0px;
    }
}

.aboutTech .bx {
    font-size: 50px;
}

@media only screen and (min-width:550px) {
    .aboutTech .bx {
        font-size: 60px;
    }
}

/* Projects Section */